extends partial/layout

block container
    include mixins/job
    +jobs()
    include mixins/sidebar
    +sidebar()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
