ul.nav.nav-sub.nav-list
    each value, key in theme.menu_sub
        li.nav-list-item
            - var re = /^(http|https):\/\/*/gi;
            - var tar = re.test(value) ? "_blank" : "_self"
            - var act = !re.test(value) && "/"+page.current_url === value
            a.nav-list-link(class={active: act} href=url_for(value) target=tar)
                != key.toUpperCase()
.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author].
