@import "../variables";

$preacher-height: 50px;

.slider {
    img {
        height: 250px;
    }
}

.preacher {
    background: $c3;
    height: $preacher-height;
    overflow: hidden;
    span.admonition {
        display: block;
        font-family: OpenSansLight-Italic;
        line-height: $preacher-height;
        color: white;
        margin: 0 10px;
        font-size: 24px;
        float: left;
    }
    form.subscribe {
        position: relative;
        display: block;
        float: right;
        height: 28px;
        width: 280px;
        margin: calc((#{$preacher-height} - 28px) / 2) 5px;
        input.email {
            position: absolute;
            top: 0;
            left: 0;
            width: 180px;
            height: calc(100% - 4px);
            padding: 2px 4px;
            font-family: OpenSans-Italic;
            font-size: 12px;
            border: 0;
        }
        input.button {
            position: absolute;
            display: inline-block;
            top: 0;
            right: 0;
            padding: 2px 10px;
            border: 0;
            color: white;
            background: $c1;
        }
    }
}
