aside.sidebar {
    margin-left: 40px;
    .videos {
        display: block;
        .videos-heading {
            span{
                display: block;
                padding: 10px;
                font-family: Roboto, "Segoe UI", Calibri, sans-serif;
                font-size: 21px;
                font-weight: 300;
                line-height: 24px;
                color: #292F33;
                border-bottom: 1px solid rgba(15,70,100,.12);
                width: calc(100% - 20px);
            }
        }
        iframe {
            width: calc(100% - 20px);
            height: 220px;
        }
    }
    .twitter-timeline {
        iframe {
            height: 500px;
        }
    }
}
