//- Post Page
mixin about(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            if item.feature
                .post-feature
                    img(src="/" + item.feature)
            .post-content
                != item.content
