mixin slick()
    div.slider
        div your content 1
        div your content 2
        div your content 3

mixin preacher()
    div.preacher
        span.admonition
            | AI Frontiers is the best conference in the world.
        form.subscribe
            input.email(placeholder="Enter your email")
            button.submit(type="submit")
                | Subscribe
