include mailChimp

mixin videos()
    .videos
        h2.videos-heading
            | Watch speeches from our previous conference.
        .slider
            - var tmpId;
            - for (i in site.data.speeches) {
                - var item = site.data.speeches[i];
                - if (i % 2 == 0) {
                    - tmpId = item.id;
                - } else {
                    .slide
                        iframe(src="https://www.youtube.com/embed/" + tmpId,frameborder="0",allowfullscreen)
                        iframe(src="https://www.youtube.com/embed/" + item.id,frameborder="0",allowfullscreen)
                - }
            - }

mixin subscribe()
    div.subscribe
        .subscribe-wrap
            span.quote.unselectable
                | #{theme.quote}
            +mailChimp()
