mixin mailChimp()
    form.subscribe-form(action="//AIFrontiers.us14.list-manage.com/subscribe/post?u=de145912b09007eeae1b898e9&amp;id=c9295d15d9",method="post",id="mc-embedded-subscribe-form",name="mc-embedded-subscribe-form",class="validate",target="_blank",novalidate)
        input.email(placeholder="Enter your email",type="email",value="",name="EMAIL",required,id="mce-EMAIL")
        div(id="mce-responses",style="display:none")
            div(class="response",id="mce-error-response",style="display:none")
            div(class="response",id="mce-error-success",style="display:none")
        input(type="submit",value="Subscribe",name="subscribe",id="mc-embedded-subscribe",class="button")
