mixin sidebar()
    aside.sidebar
        .slideshare
            .slideshare-heading
                span
                    | Speech Slides
                    a.more(href="https://www.slideshare.net/AIFrontiers/presentations" onclick="trackOutboundLink('https://www.slideshare.net/AIFrontiers/presentations')")
                        | more
            ul.slideshare-list
                - for (i in site.data.slides) {
                    - var item = site.data.slides[i];
                    li
                        a(href=url_for(item.url), onclick="trackOutboundLink('"+item.url+"')")
                            != item.title
                - }
        .twitter-timeline
            .twitter-heading
                span
                    | Twitter Timeline

            a(class="twitter-timeline",data-chrome="noheader nofooter", href="https://twitter.com/AI_Frontiers")
                | Tweets by AI_Frontiers
