mixin sidebar()
    aside.sidebar
        .twitter-timeline
            .twitter-heading
                span
                    | Twitter Timeline

            a(class="twitter-timeline",data-chrome="noheader nofooter", href="https://twitter.com/AI_Frontiers")
                | Tweets by AI_Frontiers
