mixin sidebar()
    aside.sidebar
        .videos
            .videos-heading
                span
                    | Speech Videos
            iframe(src="https://www.youtube.com/embed/yxuRnBEczUU",frameborder="0",allowfullscreen)
        .twitter-timeline
            .twitter-heading
                span
                    | Twitter Timeline

            a(class="twitter-timeline",data-chrome="noheader nofooter", href="https://twitter.com/AI_Frontiers")
                | Tweets by AI_Frontiers
