.jobs {
    ul.job-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .job-list-item {
            width: 300px;
            list-style: none;
        }
    }
}

.job-block {
    display: flex;
    font-size: 20px;
    box-sizing: border-box;
    padding: 16px 12px;
    img.job-image {
        width: 48px;
        min-width: 48px;
        height: 48px;
        padding: .2em;
        margin-right: .4em;
    }
    .job-meta {
        .job-title {
            display: block;
            color: #262626;
            font-size: .85em;
            line-height: 1em;
            font-weight: bold;
        }
        .job-company {
            display: block;
            font-size: .75em;
        }
        .job-location {
            display: block;
            color: #737373;
            font-size: .65em;
        }
        .job-description {
            display: block;
            color: #4c4c4c;
            font-size: .65em;
        }
    }
}
